<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Senha</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>

<ion-item class="entre">

  <ion-button>Entrar</ion-button>


  <ion-button>
    <ion-item routerLink="/registro">
    Registrar
  </ion-item>
</ion-button>

</ion-item>

<ion-button fill="clear">Esqueceu senha</ion-button>

</ion-content>
