.c1{
  text-align: center;
  margin-top: px;

  .b1{
    height: 66px;
    ion-button{
      height: 44px;
      
    }

  }

  .b2{
    height: 66px;

    ion-button{
      height: 44px;

    }

  }



}

