<ion-header>
  <ion-toolbar>
    <ion-title>registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


    <ion-item>
      <ion-label position="stacked">Nome</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">CPF</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Senha</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Confirmar senha</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>


  <ion-button>Salvar</ion-button>
  <ion-button>Confirmar</ion-button>

</ion-content>
